/* Forms */
input {
	@extend %inline;
	&[type="text"] {
		color: $cInputText;
		border: 0px solid $cText;
		padding: 0.25em;
		border-radius: 0.25em;
		width: 5em;
		@include alpha-fallback(background, $cInputBg, 0.75);
	}
	&.valid {
		@include alpha-fallback(background, $cInputBgValid, 0.75);
	}
	&.invalid {
		@include alpha-fallback(background, $cInputBgInvalid, 0.75);
	}
}

