@import "compass";

// Colors
$cText: white;
$cBg: #111;
$cBgAlpha: 0.9;
$cBgBlended: mix($cBg, $cText, $cBgAlpha);
$cInputText: black;
$cInputBg: white;
$cInputBgValid: #7f7;
$cInputBgInvalid: #f97;
$cMessageBg: #000;
$cMessageError: #f96;
$cMessageWarning: #fc0;

$cALink: #7bf;
$cAVisited: #d7f;
$cAFocus: #cff;
$cAHover: #bdf;
$cAActive: #ffc;

$zOverlay: 1;
$zMessages: 10;
$zButtons: 5;

$lMaxWidth: 25em;

// Mixins
@mixin alpha-fallback($attribute, $rgb, $alpha, $background: null) {
	#{$attribute}: if($background == null, $rgb, mix($rgb, $background, percentage($alpha)));
	#{$attribute}: rgba($rgb, $alpha);
}
%container {
	position: absolute;
	text-align: center;
}
%inline {
	display: inline-block;
	vertical-align: middle;
}

// Normalization
html { @include box-sizing(content-box); }
*, *:before, *:after { @include box-sizing(inherit); }

@import "look_and_feel";
@import "overlays";
@import "buttons";
@import "forms";
@import "messagebox";

